.bd-main .bd-content .bd-article-container {
    max-width: 100%;  /* default is 60em */
}

.bd-page-width {
    max-width: 95%;  /* default is 88rem */
}

.bd-sidebar {
    width: 17rem; /* 左侧导航栏宽度 */
}

/* 调整右侧工具栏宽度 */
.bd-toc {
    width: 20rem; /* 右侧工具栏宽度 */
}

div.admonition.admonition-youtube {
    border-color: hsl(0deg 100% 50%); /* YouTube red */
  }
  
  div.admonition.admonition-youtube > .admonition-title {
    background-color: hsl(0deg 99% 18%);
    color: white;
  }
  
  div.admonition.admonition-youtube > .admonition-title::after {
    color: hsl(0deg 100% 50%);
    content: "\f26c"; /* fa-solid fa-tv */
  }