current_version = "0.1.2"

[[files]]
path = "pyproject.toml"

search = "version = \"{{current_version}}\""
replace = "version = \"{{new_version}}\""


[[files]]
path = "src/atsphinx/pagefind/__init__.py"

search = "__version__ = \"{{current_version}}\""
replace = "__version__ = \"{{new_version}}\""


[[files]]
path = "CHANGES.rst"

search = """
v{{current_version}}
={% for _ in current_version %}={% endfor %}
"""
replace = """
v{{new_version}}
={% for _ in new_version %}={% endfor %}

:Date: {{ now|date }} (Asia/Tokyo)

Breaking changes
----------------

Features
--------

Fixes
-----

Others
------

v{{current_version}}
={% for _ in current_version %}={% endfor %}
"""


[[files]]
path = ".github/release-body.md"
search = "Release atsphinx-pagefind v{{ current_version }}"
replace = "Release atsphinx-pagefind v{{ new_version }}"

[[files]]
path = ".github/release-body.md"
search = "- Changelog is https://github.com/atsphinx/pagefind/blob/v{{ current_version }}/CHANGES.rst"
replace = "- Changelog is https://github.com/atsphinx/pagefind/blob/v{{ new_version }}/CHANGES.rst"
