.col-links a {
    text-decoration: none;
}

.logwrapper {
    min-height: unset;
    max-height: 100px;
}

.logwrapper .log {
    min-height: unset;
}

.extras_td {
    width: 320px;
    /* text-align: center; */
}

.extras_td_div {
    text-align: center;
}

.extras_description {
    color: black;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 24px;
}

.extras_params_title {
    color: black;
    font-size: medium;
    font-weight: bold;
}

.extras_params_key {
    color: #999;
    font-size: 14px;
    padding-left: 30px;
}

.extras_params_value {
    color: black;
    font-size: 14px;
}

.extras_exception {
    color: red;
}

.extras_separator {
    height: 2px;
    background-color: gray;
    /* display: none; */
}

.extras_comment {
    color: blue;
    font-family: monospace;
}

.extras_failure {
    color: red;
    font-family: monospace;
}

.extras_skip {
    color: orange;
    font-family: monospace;
}

/*
.extras_audio {
    width: 300px;
}
*/

.extras_video {
    border: 1px solid #e6e6e6;
    width: 300px;
    height: 170px;
}

.extras_td svg {
    border: 1px solid #e6e6e6;
    width: 300px;
    height: 170px;
}

.extras_image {
    border: 1px solid #e6e6e6;
    width: 300px;
    height: 170px;
    object-fit: cover;
    object-position: top;
}

.extras_page_src {
    color: #00b5ff;
    font-size: 12px;
}

.extras_pre {
    color: black;
    margin-left: 30px;
}

.extras_iframe {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    resize: both;
    overflow: auto;
    background-color: #faf0e6;
    inline-size: -webkit-fill-available;
}
