[project]
name = "kernels"
version = "0.3.1"
description = "Download compute kernels"
authors = [
  { name = "OlivierDehaene", email = "olivier@huggingface.co" },
  { name = "Daniel de Kok", email = "daniel@huggingface.co" },
  { name = "David Holtz", email = "david@huggingface.co" },
  { name = "Nicolas Patry", email = "nicolas@huggingface.co" },
]
readme = "README.md"
requires-python = ">= 3.9"
dependencies = [
  "huggingface-hub>=0.26.3",
  "packaging>=24.2",
  "tomli>=2.0.1; python_version<'3.11'",
  "torch>=2.5",
]

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[dependency-groups]
dev = [
  "mypy == 1.14.1",
  "pytest >=8",
  # Whatever version is compatible with pytest.
  "pytest-benchmark",
]

[project.scripts]
kernels = "kernels.cli:main"

[project.entry-points."egg_info.writers"]
"kernels.lock" = "kernels.lockfile:write_egg_lockfile"


[tool.ruff]
exclude = [
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  ".venv*",
  "__pypackages__",
  "_build",
  "build",
  "dist",
  "venv",
]
line-length = 119
# Ignored rules:
# "E501" -> line length violation
lint.ignore = ["E501"]
lint.select = ["E", "F", "I", "W"]
