[build-system]
requires = ["setuptools>=65.0.0"]
build-backend = "setuptools.build_meta"

[project]
name = "onnxruntime-easy"
dynamic = ["version"]
description = "Simplified APIs for onnxruntime"
keywords = []
authors = [
  { name = "Justin Chu", email = "justinchuby@users.noreply.github.com" },
]
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "Operating System :: POSIX",
  "Operating System :: MacOS :: MacOS X",
  "Operating System :: Microsoft :: Windows",
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
]
dependencies = [
  "onnxruntime>=1.18.0"
]

[project.urls]
Documentation = "https://github.com/justinchuby/onnxruntime-easy#readme"
Issues = "https://github.com/justinchuby/onnxruntime-easy/issues"
Source = "https://github.com/justinchuby/onnxruntime-easy"

[tool.setuptools.dynamic]
version = {attr = "onnxruntime_easy.__version__"}

[tool.ruff]
target-version = "py39"
lint.select = [
    "A",
    "ARG",
    "B", # flake8-bugbear
    "C4", # flake8-comprehensions
    "D", # pydocstyle
    "E", # pycodestyle
    "F", # Pyflakes
    "G", # flake8-logging-format
    "I", # isort
    "ICN",
    "ISC", # flake8-implicit-str-concat
    "LOG", # flake8-logging
    "N", # pep8-naming
    "NPY", # modern numpy
    "PERF", # Perflint
    "PIE", # flake8-pie
    "PLC",
    "PLE",
    "PLR",
    "PLW",
    "PYI", # flake8-pyi
    "RUF", # Ruff-specific rules
    "SIM", # flake8-simplify
    "SLOT", # flake8-slot
    "T10", # flake8-debugger
    "TID", # Disallow relative imports
    "TRY", # flake8-try-except-raise
    "UP", # pyupgrade
    "W", # pycodestyle
    "YTT", # flake8-2020
]
lint.ignore = [
    "E501", # Line length. Not enforced.
    "PLR0913", # Too many arguments
    "SIM108",
    "TRY003", # Long error messages
]

[tool.ruff.lint.flake8-tidy-imports]
# Disallow all relative imports.
ban-relative-imports = "all"

[tool.ruff.lint.pydocstyle]
convention = "google"
