[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "dxpq"
version = "0.0.2"
description = "A Python wrapper for PostgreSQL interaction using a C extension"
readme = "README.md"
requires-python = ">=3.6"
authors = [
    {name = "Pedro Barbosa", email = "pedrohsbarbosa99@gmail.com"}
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/pedrohsbarbosa99/dxpq"

[tool.black]
line-length = 79

[tool.pycln]
all = true

[tool.isort]
line_length = 79
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
