[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "recursivist"
version = "1.4.1"
description = "A command-line tool for visualizing directory structures"
readme = "README.md"
requires-python = ">=3.7"
license = {text = "MIT"}
authors = [
    {name = "Armaanjeet Singh Sandhu", email = "armaanjeetsandhu430@gmail.com"},
]
keywords = [
    "directory", 
    "file-tree", 
    "visualization", 
    "cli", 
    "filesystem", 
    "explorer",
    "directory-structure"
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Environment :: Console",
    "Topic :: Utilities",
    "Topic :: System :: Filesystems",
]
dependencies = [
    "rich>=13.0.0",
    "typer>=0.9.0",
    "shellingham>=1.5.0",
]

[project.urls]
"Repository" = "https://github.com/ArmaanjeetSandhu/recursivist"
"Documentation" = "https://armaanjeetsandhu.github.io/recursivist"

[project.scripts]
recursivist = "recursivist.cli:main"

[project.optional-dependencies]
dev = [
    "build",
    "twine",
    "hatchling",
    "pytest>=7.0.0",
    "pytest-cov>=4.0.0",
    "pytest-mock>=3.10.0",
    "black>=22.0.0",
    "flake8>=5.0.0",
    "isort>=5.0.0",
    "mypy>=1.0.0",
]
docs = [
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.6.7",
    "mkdocstrings>=0.28.2",
    "mkdocstrings-python>=1.16.2",
    "pymdown-extensions>=10.14.3",
    "mkdocs-minify-plugin>=0.8.0",
    "mkdocs-glightbox>=0.4.0",
]

[tool.hatch.build.targets.wheel]
packages = ["recursivist"]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = "test_*.py"
python_functions = "test_*"
addopts = "--cov=recursivist --cov-report=term-missing"

[tool.black]
line-length = 88
target-version = ["py37"]
include = '\.pyi?$'

[tool.isort]
profile = "black"
line_length = 88